/* Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap');
/*
Standout text
font-family: 'Potta One', cursive;
General text
font-family: 'Poppins', sans-serif;
*/

/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}

:root {
    --red: rgb(215, 17, 56);
    --white: #fff;
}

body {
    background-color: var(--white);
}

/* Section with Highscores Link and Timer */
nav {
    width: 100%;
    margin: 0.5rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
}

/* View Highscores link */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--red);
}

/* Timer */
span {
    color: var(--red);
}

/* Section with Quiz */
main {
    width: auto;
    margin-top: 3rem;
}

.center {
    margin: 15px 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

h1 {
    padding: 1.5rem;
    text-align: center;
    font-family: 'Potta One', cursive;
    font-size: 50px;
    line-height: 3rem;
}

h1:hover {
    color: var(--red);
}

h4 {
    padding: 0.5rem;
    text-align: center;
    line-height: 1.5rem;
}

button#start-btn {
    margin-top: 10px;
    padding: 8px;
    font-family: 'Potta One', cursive;
    border-radius: 1rem;
    border-color: var(--red);
}

button {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 8px;
    border-radius: 1rem;
    border-color: var(--red);
}

button:hover {
    background-color: var(--red);
    color: var(--white);
}

button:focus, button:active, button:visited {
    outline: none;
    box-shadow: none;
}
